//Colores
$primaryColor: rgba(41, 226, 153, 1);
$secondaryColor: rgba(1, 195, 143, 0.612);
$tertiaryColor: rgba(255, 255, 255, 1);
$fourthColor: rgba(255, 255, 255, 0.83);

$primaryBackgroundColor: rgba(17, 18, 18, 1);
$secondaryBackgroundColor: rgba(17, 18, 18, 0.808);